/**
 * base styles and typography
 * ---------------
 */
:root {
  --green-800: #166534;
  --green-900: #14532d;

  --emerald-300: #6ee7b7;
  --emerald-500: #22c55e;
  --emerald-700: #047857;
  --emerald-800: #065f46;
  --emerald-900: #064e3b;

  --cyan-800: #155e75;
  --cyan-900: #164e63;

  --slate-200: #e2e8f0;

  --rose-500: #f43f5e;
}

/*******************
   Base styles
   *******************/
html {
  font-size: 62.5%;
  font-weight: 300;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

body {
  display: flex;
  background: linear-gradient(236deg, var(--cyan-800), var(--green-800));
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  aspect-ratio: 1/1;
  object-fit: contain;
}

/*******************
   Game board Styles
   *******************/
.wrapper {
  width: min(50rem, 100%);
  display: grid;
  gap: 1rem;
  grid-template-rows: 0.6fr 1fr 8fr;
  grid-template-areas:
    'mode'
    'action'
    'board';
}

.action {
  padding: 0.8rem 1.5rem;
  grid-area: action;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.marker {
  display: flex;
  gap: 0.4em;
}

.marker > img {
  width: min(2.5rem, 100%);
  cursor: pointer;
}

.current-player {
  width: min(10rem, 100%);
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  color: var(--slate-200);
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  box-shadow: 1px 4px 7px 0px rgb(0 0 0 / 60%);
  background-color: var(--green-900);
}

.replay-btn > img {
  cursor: pointer;
  margin-left: auto;
  width: min(4rem, 100%);
}

.game-board {
  padding: 0.8rem 1.5rem;
  grid-area: board;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2em;
}

.game-board > .cell {
  cursor: pointer;
  background-color: var(--slate-200);
  border-radius: 8px;
  box-shadow: 1px 6px 4px 0px rgb(0 0 0 / 80%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell > img {
  width: min(10rem, 100%);
}

.mode {
  padding: 0 1.5rem;
  grid-area: mode;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#players {
  color: var(--slate-200);
  font-weight: 700;
  border: 0;
  font-size: 1.6rem;
  flex-basis: 100%;
  padding: 0.5em 4em 0.5em 0.5em;
  background-color: var(--emerald-700);
  box-shadow: 1px 4px 7px 0px rgb(0 0 0 / 40%);
  border-radius: 8px;
}

.custom-arrow {
  position: absolute;
  top: 0;
  right: 1.4rem;
  display: block;
  background-color: var(--emerald-800);
  height: 100%;
  width: 4em;
  pointer-events: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.custom-arrow::before,
.custom-arrow::after {
  --size: 0.65em;
  content: '';
  position: absolute;
  height: 0;
  width: 0;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid var(--slate-200);
  top: 35%;
}

.custom-arrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid var(--slate-200);
  top: 65%;
}

/*******************
   Modal
   *******************/

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 100%;
  min-height: 30%;
  background: linear-gradient(236deg, var(--cyan-800), var(--green-800));
  animation: modalFadeIn ease 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.modal-container > .modal-info {
  font-size: 4rem;
  font-weight: 700;
  color: var(--slate-200);
}

.btn {
  padding: 0.6em 4em;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 8px;
  color: var(--slate-200);
  border: 3px solid var(--slate-200);
}

.btn:hover,
.btn:focus {
  color: var(--emerald-800);
  background-color: var(--slate-200);
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-140px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*******************
   Utility
   *******************/

.deactivated {
  display: none;
}
