/**
 * base styles and typography
 * ---------------
 */
:root {
  /* global variables */
  --background-color: hsl(203, 82%, 13%);
  --card-background-color: hsl(0, 0%, 100%);
  --search-btn-color: hsl(197, 100%, 94%);
  --error-color: hsl(350, 89%, 59%);
}

/*******************
   Base styles
   *******************/
html {
  font-size: 62.5%;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

body {
  display: flex;
  background: var(--background-color);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  aspect-ratio: 1/1;
  object-fit: contain;
}

/* card */
.card {
  background-color: var(--card-background-color);
  width: min(40rem, 100%);
  border-radius: 18px;
  padding: 2.8em 3em;
  display: grid;
}

#form {
  display: flex;
  gap: 1em;
  justify-content: space-evenly;
  align-items: center;
}

.location-icon {
  font-size: 2.8rem;
  color: var(--background-color);
}

input[type='search'] {
  width: 95%;
  border: none;
  color: var(--background-color);
  font-size: 2.4rem;
  font-weight: 400;
  padding: 0.5rem;
}

.form-message {
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--error-color);
  font-weight: 500;
}

.search-btn {
  border: none;
  color: var(--background-color);
  background-color: var(--search-btn-color);
  font-size: 2.2rem;
  border-radius: 50%;
  object-fit: contain;
  aspect-ratio: 1/1;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
}

.search-btn:hover {
  background-color: var(--background-color);
  color: var(--card-background-color);
}

.not-found {
  display: flex;
  gap: 1.2em;
  flex-direction: column;
  align-items: center;
  scale: 0;
  opacity: 0;
}

.not-found img {
  width: 70%;
}

.not-found p {
  color: var(--card-background);
  font-size: 2.2em;
  font-weight: 400;
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  scale: 0;
  opacity: 0;
}

.weather-container img {
  width: 60%;
}

.temperature {
  color: var(--background-color);
  font-size: 5rem;
  font-weight: 800;
  position: relative;
}

.temperature > span {
  position: absolute;
  font-size: 3rem;
  text-transform: capitalize;
}

.description {
  color: var(--background-color);
  font-size: 2.2rem;
  font-weight: 400;
}

/* utils */
.disabled {
  display: none;
}

/* animation */
.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}
